@using Simple_DnD_Builder.Models.Character_Data;
@model Alignment

<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>Description</th>
        <th>URl</th>
        

    </tr>


    <tr>
        <td>@Model.Name</td>
        <td>@Model.Abbr </td>
        <td>@Model.Desc</td>
        <td>@Model.Url</td>
       

    </tr>
    @Html.ActionLink("Go Back", "Index", "Alignment", null, new { @class = "btn btn-primary" })

</table>