@using Simple_DnD_Builder.Models.Player;
@model Player

<h2>@Model.PlayerName 's Character @Model.Name</h2>
<img src="@Model.ImageURL" alt="Your Character" />
<table class="table">
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Alignment</th>

    </tr>


    <tr>
        <td>@Model.Name</a></td>
        <td>
            @(Model.Race == null ?
                Html.Raw("<a href='/Race/Index'>Choose a Race</a>") :
                Html.Encode(Model.Race))
        </td>

        <td>
            @(Model.CharClass == null ?
                Html.Raw("<a href='/CharClass/Index'>Choose a Class</a>") :
                Html.Raw("<a href='/CharClass/Index'>Html.Encode(Model.CharClass)</a>"))
        </td>

        <td>
            @(Model.Alignment == null ?
                Html.Raw("<a href='/Alignment/Index'>Choose an Alignment</a>") :
                Html.Encode(Model.Alignment))
        </td>
    </tr>
    <div class="row">
        <div class="col-md-1">CHA = @Model.AbilityScores["cha"]</div>
        <div class="col-md-1">CON = @Model.AbilityScores["con"]</div>
        <div class="col-md-1">DEX = @Model.AbilityScores["dex"]</div>
        <div class="col-md-1">INT = @Model.AbilityScores["int"]</div>
        <div class="col-md-1">STR = @Model.AbilityScores["str"]</div>
        <div class="col-md-1">WIS = @Model.AbilityScores["wis"]</div>
       
    </div>

</table>