@using Simple_DnD_Builder.Models.Players;
@model Player
@{
    int counter = 0;
}
<h2>@Model.PlayerName 's Character @Model.Name</h2>
<img src="@Model.ImageURL" alt="Your Character" />
<table class="table">
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Alignment</th>

    </tr>


    <tr>
        <td><a href='/Player/PlayerCreator'>@Model.Name</a></td>
        <td>
            @(Model.Race == null ?
            Html.Raw("<a href='/Race/Index'>Choose a Race</a>") :
            Html.Encode(Model.Race))
        </td>

        <td>
            @(Model.CharClass == null ?
            Html.Raw("<a href='/CharClass/Index'>Choose a Class</a>") :
            Html.Encode(Model.CharClass))
        </td>

        <td>
            @(Model.Alignment == null ?
            Html.Raw("<a href='/Alignment/Index'>Choose an Alignment</a>") :
            Html.Encode(Model.Alignment))
        </td>
    </tr>
</table>
    <h4>Abilty Scores</h4>
    <p>Click Ability for more information</p>
    <div class="row">
    <div class="col-md-1"><a href="/AbilityScore/ViewAbilityScore?index=cha"> CHA = @Model.AbilityScores["cha"]</a></div>
    <div class="col-md-1"><a href="/AbilityScore/ViewAbilityScore?index=con">CON = @Model.AbilityScores["con"]</a></div>
    <div class="col-md-1"><a href="/AbilityScore/ViewAbilityScore?index=dex">DEX = @Model.AbilityScores["dex"]</a></div>
    </div>
    <div class="row">
    <div class="col-md-1"><a href="/AbilityScore/ViewAbilityScore?index=int">INT = @Model.AbilityScores["int"]</a></div>
    <div class="col-md-1"><a href="/AbilityScore/ViewAbilityScore?index=str">STR = @Model.AbilityScores["str"]</a></div>
    <div class="col-md-1"><a href="/AbilityScore/ViewAbilityScore?index=wis">WIS = @Model.AbilityScores["wis"]</a></div>
    </div>
    <h4>Skill Scores</h4>
    <p>Click Skill for More information</p>
@for(int j = 0; j < 3; j++)
{
    <div class="row">
    @for (int i = 0; i < 6; i++)
    {
            <div class="col-md-1"><a href="/skill/index?index=@Skill.Skills[counter]">@Skill.Skills[@counter].Replace('-', ' ')</a> <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
    }
    </div>
}

       
    @*
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>                
   
     <div class="row">
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br  />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>                
    </div>
    <div class="row">
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
        <div class="col-md-1">@Skill.Skills[@counter].Replace('-', ' ') <br />------------<br /> @Model.SkillScores[@Skill.Skills[@counter++]]</div>
    </div>*@
    
